{% extends "layout.html" %}

{% block title %}
    Horizontal Bar Graph
{% endblock %}

{% block main %}
    <div class = leftparent>
        <canvas id="vbargraph"></canvas><br  />
        <script src="/static/horizontalbargraph.js"></script>

        <div class = box1>
            <button class="btn btn-primary" type="button" id = "createvbargraph"><b>Create Horizontal Bar Graph!</b></button>
            <button class = "btn btn-primary" id="vbgdownload"><b>Download</b></button>
        </div>

        <div class = box1>
        <h3>Display Settings</h3>


        <p class = "opaquetext">*For advanced users, you can manipulate opacity of the colour by adding 2 more digits (hexadecimal) at the end of the colour hex code in the rgba format!
    e.g. #F7464A80 is red(#F7464A) at 50%(80) opacity.<br  /> Visit <a href = "http://www.dtp-aus.com/hexadeci.htm">http://www.dtp-aus.com/hexadeci.htm</a>
    for more decimal to hexadecimal values to manipulate the values!</p>

        <label for = "backgroundcolour">Background Colour</label>
        <input class = "adjust" type = "text" class="form-control" id="backgroundcolour" value = #FFFFFF>&ensp;
        Colour Selector&ensp;<input class="jscolor" id = colourselectorbg value="#FFA600"><br  /><br  />




        x axis Min &nbsp;<input type = "number" id = "xmin" value = 0></input>&ensp;
        x axis Max &nbsp;<input type = "number" id = "xmax" value = 10></input>&ensp;
        Step Size &nbsp;<input type = "number" id = "step" value = 1></input>&ensp;

        </div>


        <div class="form-group box1">
            <label for="title"><h3>Title</h3></label><br  />
            <input autocomplete="off" autofocus class="form-control" id = "title" placeholder="Only the best titles for your datasets" type="text">
        </div>

        <div class="form-group box1">
            <label for="name"><h3>Name of Variables</h3></label><br  />
            Font Colour <input type = "color" id = "labelfontcolour" placeholder = "font colour"></input><br  /><br  />
            <textarea class="form-control" rows="3" id="name" placeholder = "Name, Age, Dorm ..."></textarea>
        </div>

        <div class="form-group box1">
            <label for="value"><h3>Values</h3></label>
            <textarea class="form-control" rows="3" id="value" placeholder = "1,2,3 ..."></textarea>
        </div>

        <div class="form-group box1">
            <label for="colour"><h3>Fill Colour</h3></label>
            Color Selector <input class="jscolor" id = colourselector value="#FFA600">
            <button class = btn type = "button" id = "addcolourbutton">Add Colour</button><br  />
            <textarea class="form-control" rows="3" id="colour" placeholder = "#F7464A,#46BFBD,#FDB45C ..."></textarea>
        </div>

        <div class="form-group box1">
            <label for="colour2"><h3>Border Colour</h3></label>
            Color Selector <input class="jscolor" id = colourselector2 value="#FFA600">
            <button class = btn type = "button" id = "addcolourbutton2">Add Colour</button>&ensp;
            <input type = "number" id = "borderwidth" placeholder = "Border Width"></input>
            <textarea class="form-control" rows="3" id="colour2" placeholder = "#F7464A,#46BFBD,#FDB45C ..."></textarea>
        </div>

    </div>
{% endblock %}